@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn+SC:wght@400;600;700;900&display=swap');

html {
    font-family: Vollkorn SC, serif;
}

body {
    color: #DDD;
    background-color: #222;
    text-align: center;
}

.container {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.cover {
    max-width: 248px;
    box-shadow: -25px 25px 2px 0px rgba(0, 0, 0, 0.05), -20px 20px 2px 0px rgba(0, 0, 0, 0.10), -15px 15px 2px 0px rgba(0, 0, 0, 0.20), -10px 10px 2px 0px rgba(0, 0, 0, 0.30), -5px 5px 2px 0px rgba(0, 0, 0, 0.40);

    margin-bottom: 22px;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;

    margin-bottom: 52px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.links .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
}


.streamings {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}

.streamings img {
    width: 170px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 18px;
}

a {
    text-decoration: none;
}

.logo {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 14px;
    box-sizing: border-box;
    background: #000;
}

.logo img {
    width: 100%;
}

.authors {
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: left;
}

.author-link {
    color: #9ca3af;
    font-size: 12px;
}

@media (min-width: 300px) {
    .streamings {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 820px) {
    .cover {
        max-width: 292px;
    }

    .title {
        font-size: 26px;
    }

    .links .text {
        font-size: 22px;
    }

    .streamings img {
        width: 189px;
    }

    .streamings {
        grid-template-columns: repeat(4, 1fr);
    }

    .author-link {
        font-size: 14px;
    }
}